All rights reserved for {{ company_name }}
                                                                                                                      
You may not distribute, copy, publish, assign, sell,                                                                  
bargain, convey, transfer, pledge, lease or grant any                                                                 
further rights to use the software.                                                                                   
                                                                                                                      
This software is provided "as is" with no expressed                                                                   
or implied warranty.  I accept no liability for any                                                                   
damage or loss of business that this software may cause.  
